.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links{
    display: flex;
    flex-direction: row;
    list-style: none;
}
ul{
    gap: 15px;
}
.footer-link{
    font-weight: 700;
}