 .heading{
    font-weight: 700;
    font-size: 30px;
    color: #5fe32a;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  
    position: relative;
    top: 7px;
}
.heading:hover{
    color: #5fe32a;
}
.heading svg{
    color: #5fe32a;
    font-size: 30px;
} 
.navbar{
    padding: 0px 15px;
    background-color: #31287c;
}
.container-fluid{
    padding: 0px 0px;
}
.btn-icon{
    border: none !important;
    outline: none !important;

}
.btn-icon:hover{
      border: none !important;
    outline: none !important;
}
#sidemenu-icon{
    font-size: 30px;
  
}
.offcanvas-end {
    max-width: 37vh;
    background-color: #31224e;
}
.offcanvas-title{
    color: #5fe32a;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}
.nav-link {
    font-weight: 700;
    margin-left: 20px;
    display: flex;
    
    align-items: center;
    gap: 10px;
       
}

.offcanvas-body {
    margin-top: 30px;
}
