.staff-container{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    /* border: 2px solid; */
    padding: 10px 10px;
    width: 22rem;

}
.medical-heading {
    font-size: 25px;
    font-weight: 800;
    color: rgb(98, 47, 103);
}
.info-staff{
    display: flex;
  padding: 10px 10px;
    gap: 27px;
    align-items: baseline;
    border: 2px solid rgb(153, 158, 158);
    border-radius: 10px;
}
.info-staff img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.info-call{
    align-self:center;
}
.info-image{
    align-self: center;
}
.info-name{
    position: relative;
    top: 10px;
}
#call-icon{
    font-size: 30px;
}
#occupation{
    color: gray;
}