user-location{

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
p svg{
    font-size: 20px;
    margin-right: 10px;
    color: teal;
}
#street{
    font-size: 22px;
}
.addressBook{
    padding-left: 10px;
}
.streetBook{
    padding-left: 8px;
}