.main-api{
    display: flex;
    height: 80vh;
    margin-top: 6.5rem;
    gap: 10px;
    flex-direction: column;
    /* border: 2px solid; */
    padding: 10px 10px;
    margin-left: 13px;
    
}
.api-heading{
    font-size: 30px;
    font-weight: 700;
    color:#5fe32a;
}
.cards{

gap: 15px;
margin-top: 1rem;
}
.api-card {
   
    border-radius: 10px;

    padding: 5px 5px;
    display: flex;
  
   
}
.api-card a{
    font-size: 18px;
    font-weight: 100;
}
.api-card a svg{
    font-size:18px;
}