
.form-container{
    display: flex;
    flex-direction: column;
  
    gap: 35px;
    height: 96vh;
    width: 54vh;
    padding: 80px 40px;
}
#option-choice{
    color: rgb(226, 207, 207);
}
.form-floating{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
}
.form-floating svg{
    font-size: 25px;
    margin-bottom: 7px;
}
#bulb-filled{
    color: orange;
}
.signUp-heading{
    font-size: 30px;
    font-weight: 700;
}
.submit-btn{
    border-radius: 20px;
    font-weight: 700;
    background-color: teal;
}
.form-floating button{
    width: 100px;
    /* border: 1px solid #0d6efd; */
    border-radius: 20px;
    background-color: teal;
    color: white;
}
