.signUp-container{
    padding: 0px 0px;
}
.form-container{
    display: flex;
    flex-direction: column;
  
    gap: 35px;
    height: 96vh;
    width: 54vh;
    padding: 130px 25px;
}
#option-choice{
    color: rgb(226, 207, 207);
}
.form-floating{
    display: flex;
    width: 40vh;
    /* justify-content: center; */
    align-items: center;
    gap: 40px;
}
.form-floating svg{
    font-size: 25px;
    margin-bottom: 7px;
}

.signUp-heading{
    font-size: 30px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    align-items: center;
}
.signUp-heading svg{
    font-size: 20px;
    color: #31287c;
}
.submit-btn{
    border-radius: 20px;
    font-weight: 700;
    background-color: #31287c;
  
}
.minor-heading{
color: gray;
font-size: 15px;
font-weight: 700;
/* margin-left: 31px; */
}
#heading{
    margin-bottom: 0px;
    color: #5fe32a;
    font-weight: 700;
}
